body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input,
button {
    margin: 10px 0;
    padding: 8px;
}

#booksList img {
    max-width: 100px;
    margin-right: 10px;
}