body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: #333;
    text-align: center;
}

form {
    margin: 20px;
    text-align: center;
}

input,
button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#books-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.book-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 200px;
    text-align: center;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
}

button:hover {
    background-color: #0056b3;
}