.spinner {
    border: 8px solid #f3f3f3;
    /* Couleur du spinner */
    border-top: 8px solid #3498db;
    /* Couleur de l'animation */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: fixed;
    /* Pour rester centré sur la page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* Au-dessus des autres éléments */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}