
/* Style pour la vidéo de fond */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
}

/* Style pour le logo */
.logo img {
    width: 80px;
}

/* Style pour le titre de l'en-tête */
.header-title {
    flex-grow: 1;
    text-align: center;
}

/* Style pour les sections */
.section {
    margin-top: 20px;
}

/* Style pour rendre le texte lisible sur la vidéo de fond */
.text-white {
    color: #fff;
}

/* Ajustements pour les boutons du formulaire */
#utilisateurForm .btn {
    margin-right: 10px;
}