body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 120px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.section-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
}

#available-books-list,
#borrowed-books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.book-card {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}

.modal-content {
    padding: 20px;
    text-align: center;
}