html {
  scroll-behavior: smooth; /* Ajoute un défilement doux pour tous les liens d'ancre */
}

body {
  font-family: 'Georgia', serif;
  background-color:var(--bg-color); /* Couleur crème pour un look bibliothèque classique */
  color: black;
  margin: 0;
  padding: 0;
  outline: none;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

:root {
  --bg-color: #f0f8ff; /* AliceBlue */
  --second-bg-color: #dfefff; /* LightSkyBlue */
  --text-color: #004080; /* Navy */
  --main-color: #87cefa; /* LightSkyBlue */
  --highlight-color: #1e90ff; /* DodgerBlue */
}
/* Header fixe avec un fond semi-transparent */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color); /* Fond semi-transparent */
  color: white;
  padding: 10px 20px;
  z-index: 1000; /* Assurez-vous que le header est au-dessus du contenu */
  transition: background-color 0.3s; /* Pour une transition fluide du fond */
}

/* Espacement pour éviter que le contenu ne soit caché sous le header */
body::before {
  content: "";
  display: block;
  height: 60px; /* Hauteur du header pour éviter le chevauchement */
}
.logo img {
  vertical-align: middle;
  width: 7%;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 20px;
  display: block;
  font-size: 20px;
}

.menu a:hover{
  color: #1e90ff;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #a0d3f3;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu li {
  display: block;
}

.submenu:hover .sub-menu {
  display: block;
}

/* Style pour le menu toggle */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Styles pour les écrans plus petits */
@media (max-width: 768px) {
  .menu {
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: #a0d3f3;
      text-align: center;
  }

  .menu li {
      display: block;
  }

  .menu-toggle {
      display: block;
  }

  .menu.show {
      display: block;
  }
}

/* Modal styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Un peu plus foncé pour un effet dramatique */
  padding-top: 60px;
  transition: opacity 0.3s ease-in-out; /* Transition douce */
}

.modal-content {
  background-color: #f0f4f8; /* Couleur douce en accord avec le thème principal */
  margin: 5% auto;
  padding: 20px;
  border-radius: 12px; /* Coins arrondis */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Ombre légère pour profondeur */
  width: 80%;
  max-width: 600px; /* Légèrement plus large */
  text-align: center; /* Centrer le contenu */
}

.close {
  color: #333; /* Couleur plus contrastée pour être en harmonie avec le design */
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #555; /* Couleur plus douce au survol */
  text-decoration: none;
  cursor: pointer;
}

#bookImage {
  width: 100%; /* Uniformiser la taille des images */
  height: 300px; /* Hauteur fixe pour que toutes les images soient de la même taille */
  object-fit: cover; /* S'assurer que l'image s'adapte bien au cadre */
  border-radius: 8px; /* Coins arrondis pour l'image */
  margin-bottom: 15px;
}

.modal h2 {
  color: #007bff; /* Bleu du thème principal */
  margin-bottom: 10px;
}

.modal p {
  color: #555; /* Texte doux en accord avec le thème */
  line-height: 1.6;
}

section {
  border: 0px solid #ddd;
}

.carrousel-section {
  margin-top: 10%;
  animation: fadeIn 2s ease-in-out;
}

.carrousel-section h1 {
  text-align: center;
  font-size: 38px;
  color: #1e90ff;
}

.swiper-container {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  animation: zoomIn 0.8s ease-in-out;
}

@keyframes zoomIn {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.card-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.message-button {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #1e90ff;
  background-color: transparent;
  color: #1e90ff;
  border-radius: 50px;
  cursor: pointer;
  animation: fadeIn 2s ease-in-out;
}

.message-button:hover {
  background-color: #1e90ff;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

/* Style de base du footer */
.footer {
  background-color: #87cefa;
  padding: 40px 20px;
  color: white;
  text-align: center;
  position: relative;
}

.footer-title {
  font-size: 2rem;
  margin-bottom: 10px;
  animation: fadeInDown 1s ease-in-out;
}

.footer-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

/* Icônes des réseaux sociaux */
.footer-social-icons {
  margin: 20px 0;
}

.footer-social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.footer-social-icons a:hover {
  transform: scale(1.2);
}

/* Style du bas du footer */
.footer-bottom {
  margin-top: 20px;
  animation: fadeInUp 1s ease-in-out;
}

.footer-bottom img {
  margin-bottom: 10px;
  animation: bounceIn 2s ease;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .swiper-container {
    padding: 10px 0;
  }

  .swiper-slide {
    max-width: 200px;
      padding: 5px; /* Moins de padding sur les petits écrans */

  }

  .card-item {
    width: 80%; /* Les cartes occupent toute la largeur disponible */
   }
   
   .menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .menu.active {
    display: flex;
  }

  .search-bar {
    margin-top: 10px;
  }

  .swiper {
    padding: 0 10px;
  }

  nav {
    flex-direction: column;
  }

  .submenu .sub-menu {
    position: static;
    padding: 10px 0;
    text-align: center;
  }

  .submenu:hover .sub-menu {
    display: none;
  }
}
#container {
 
  padding: 20vh;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #1e90ff;
  background-color: transparent;
  color: #1e90ff;
  border-radius: 50px;
  cursor: pointer;
  animation: fadeIn 2s ease-in-out;
}